$dark-950: #151619;
$dark-900: #17181C;
$dark-800: #1C1D22;
$dark-700: #22242A;
$dark-600: #2E3038;
$dark-550: #393D46;
$dark-500: #575C6B;
$dark-300: #6A7081;
$back-drop: #050506;
$blue: #5D75EF;
$gray-100: #E3E4E8;
$gray: #84899A;
$white: #EEEFF1;
$red: #E56262;